body {
    padding-top:20px;
    background:#fff;
}
.evt-tab-inner {
    margin-bottom: 80px;
  }
  .evt-tab-inner ul {
    margin: 0;
    padding: 0;
    border: 0 !important;
  }
  .evt-tab-inner ul li {
    text-align: center;
    display: contents;
  }
  .evt-tab-inner ul li a {
    border: 1px solid var(--main-color) !important;
    height: 100px;
    line-height: 100px;
    padding: 0;
    width: 33.33%;
    border-radius: 0 !important;
    font-size: 24px;
    position: relative;
  }
  .evt-tab-inner ul li a span {
    font-weight: 700;
    margin-right: 25px;
    color: #20202c;
  }
  .evt-tab-inner ul li a:after {
    content: "";
    position: absolute;
    height: 30px;
    width: 30px;
    background: var(--main-color);
    transform: rotate(45deg);
    left: 50%;
    margin-left: -15px;
    bottom: -16px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.4s ease-in;
  }
  .evt-tab-inner ul li a:hover, .evt-tab-inner ul li a:active, .evt-tab-inner ul li a:focus, .evt-tab-inner ul li a.active {
    background: var(--main-color) !important;
    color: #fff !important;
  }
  .evt-tab-inner ul li a:hover span, .evt-tab-inner ul li a:active span, .evt-tab-inner ul li a:focus span, .evt-tab-inner ul li a.active span {
    color: #fff;
  }
  .evt-tab-inner ul li a:hover:after, .evt-tab-inner ul li a:active:after, .evt-tab-inner ul li a:focus:after, .evt-tab-inner ul li a.active:after {
    opacity: 1;
    visibility: visible;
  }
  .evt-tab-inner.style-two ul li a {
    width: 50%;
  }
  .evt-tab-inner ul li a:hover, .evt-tab-inner ul li a:active, .evt-tab-inner ul li a:focus, .evt-tab-inner ul li a.active {
    background: #20202c !important;
    color: #fff !important;
}
.nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
}
.evt-tab-inner ul li a {
    border: 1px solid var(--main-color) !important;
    height: 100px;
    line-height: 100px;
    padding: 0;
    width: 33.33%;
    border-radius: 0 !important;
    font-size: 24px;
    position: relative;
}
.nav-link {
    display: block;
    padding: .5rem 1rem;
}