<div class="row d-flex justify-content-between listingModel py-1 bg-light mt-2" *ngFor="let job of jobsdata">
    <div class="col-2 d-flex justify-content-center">
        <img src="{{job.companyLogo}}" class="img-fluid">
    </div>
    <div class="col-8">
        <h3> <a routerLink="/jobs/{{job.id}}" routerLinkActive="router-link-active"  class="companyTitle">{{job.title}}</a></h3>
        <p><small>Company: {{job.companyName}}  Reference: {{job.reference}}</small></p>
    </div>
    <div class="col-2">
        
    </div>
</div>